 body {
    background-image: url("background.jpeg") center/cover fixed no-repeat;
    color: #f5f5f5;
    align-items: center;
  }

  .main-container {
    text-transform: uppercase;
    border: 0.1rem solid #f5f5f5;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.9);
    border-radius: 0.2rem;
    align-content: center;
    width: 350px;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

.text-uppercase{
  text-align: center;
  margin-top: 50px;
}

  #counter {
    text-align: center;
    color: #008000;
    font-size: 6rem;
  }
  #prevBtn,
  #nextBtn {
    text-transform: uppercase;
    display: flex;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.9);
    border: #333333;
    background: #0d2c54;
    color: #f5f5f5;
    margin: auto;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 10px

  }



  #prevBtn:hover {
    background: #00a6ed;
  }
  #nextBtn:hover {
    background: #00a6ed;
  }
